APP_NAME=stream-service
DEBUG=false
MONGO_URL=mongodb://mongodb:27017
MONGO_DB=streamdb
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
STREAM_EVENTS_EXCHANGE=stream_events
USER_EVENTS_QUEUE=stream-service.user-events
ANT_MEDIA_URL=http://52.66.16.210:5080
ANT_MEDIA_APP=live
ANT_MEDIA_USER=mohit.dubey@antmedia.io
ANT_MEDIA_PASSWORD=987654321
USER_SERVICE_URL=http://user-service:8000
